name: Release data packs for new version

on:
  push:
    tags:
      - '1.*'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout data pack
        uses: actions/checkout@v5
        with:
          path: datapack

      - name: Build packs from namespaces
        run: |
          mkdir output
          cd datapack

          echo ::group::Building main pack
          zip -rv "../output/${{ github.event.repository.name }}.zip" . -i pack.mcmeta "data/*"
          echo ::endgroup::
          echo Building namespaces
          for namespace in $(ls data)
          do
            echo ::group::Building namespace \'$namespace\'
            zip -rv "../output/${{ github.event.repository.name }}-$namespace.zip" . -i pack.mcmeta "data/$namespace/*"
            echo ::endgroup::
          done
          cd ..

          echo Built $(ls -q output | wc -l) packs

      - name: Create Release
        uses: softprops/action-gh-release@v2
        with:
          draft: true
          preserve_order: true
          files: output/*.zip
          name: DP ${{ github.event.repository.name }} ${{ github.ref_name }}
